:root {
  font-family: "Space Mono", monospace;
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font: inherit;
}

body {
  background-color: var(--very-light-grayish-cyan);
}

input {
  width: 100%;
  cursor: pointer;
}

input:hover,
input:focus {
  outline: 1px solid var(--strong-cyan);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--light-grayish-cyan);
}

.card {
  display: flex;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 0.5rem;
}

.card > * {
  flex-basis: 50%;
}

.spliter {
  color: var(--very-dark-cyan);
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.error {
  color: red;
}

.input-label {
  display: block;
  color: var(--grayish-cyan);
}

.input {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 8px;
  background-color: var(--very-light-grayish-cyan);
  text-align: right;
  color: var(--grayish-cyan);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 1rem;
}

.grid > * {
  padding-block: 0.8rem;
  border-radius: 0.3rem;
  padding-inline: 0.6rem;
  outline: none;
  border: none;
  font-size: 1.1rem;
}

.tip__btn {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  cursor: pointer;
}

.tip__btn:focus,
.tip__btn:hover {
  background-color: var(--strong-cyan);
}

.tip__btn.active {
  background-color: var(--strong-cyan);
}

.custom {
  text-align: right;
  background-color: var(--very-light-grayish-cyan);
}

.outputs {
  background-color: var(--very-dark-cyan);
  border-radius: 1rem;
  margin-left: 1rem;
}

.field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 1rem;
}

.field__title {
  color: var(--white);
  text-transform: capitalize;
  font-size: 1rem;
}

.per-person {
  color: var(--grayish-cyan);
  font-size: 0.7rem;
}

.tip-output {
  grid-row: 1 / span 2;
  grid-column: 2;
  color: var(--strong-cyan);
  font-size: 2.5rem;
}

.reset {
  display: flex;

  border: none;
  border-radius: 5px;
  padding-inline: 4rem;
  padding-block: 0.3rem;
  margin-inline: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 5rem;
  text-transform: uppercase;
  color: var(--very-dark-cyan);
  background-color: var(--strong-cyan);
}
